EXPO_PUBLIC_SUPABASE_URL=https://ppbwntqurqzibrbtmvvb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYndudHF1cnF6aWJyYnRtdnZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NzM4ODAsImV4cCI6MjA4OTQ0OTg4MH0.SXtvrYyY5tEQWiXfZziqLVX7pi0N9EW2gmDoN2FPom0
EXPO_PUBLIC_DISCOGS_TOKEN=LUNtCpaRmiVXTyYLfODoWFLTGrsypLPKaIGMTNwc

